<h1>حساب ها</h1>

<a href="{% url 'accounts:create' %}"> ساخت حساب جدید </a>

<form method="get">

    <!-- Search -->
    <label for="search">جستجو</label>
    <input
        type="text"
        id="search"
        name="search"
        placeholder="جستجوی حساب..."
        value="{{ request.GET.search }}"
    >
    <br />

    <!-- Account Type -->
    <label for="account_type">نوع حساب</label>
    <select name="account_type" id="account_type">
        <option value="">همه</option>

        {% for account_type in account_types %}
            <option
                value="{{ account_type }}"
                {% if request.GET.account_type == value %}selected{% endif %}
            >
                {{ account_type.name }}
            </option>
        {% endfor %}
    </select>
    <br />
    
    <!-- Currency -->
    <label for="currency">نوع ارز</label>
    <select name="currency" id="currency">
        <option value="">همه</option>

        {% for currency in currencies %}
            <option
                value="{{ currency }}"
                {% if request.GET.currency == currency %}selected{% endif %}
            >
                {{ currency }}
            </option>
        {% endfor %}
    </select>

    <button type="submit">جستجو</button>

</form>

{% for account in accounts %}

    <div>
        <h2>{{ account.name }}</h2>

        <p>
            نوع: {{ account.account_type.name }}
        </p>

        <p>
            ارز: {{ account.currency.name }}
        </p>

        <p>
            موجودی: {{ account.balance }}
        </p>

        <a href="{% url 'accounts:detail' account.slug %}">
            اطلاعات
        </a>
        
        <br />

        <a href="{% url 'accounts:edit' account.slug %}">
            ویرایش
        </a>
        
        <form method="get" action="{% url 'accounts:delete' account.slug %}">
            {% csrf_token %}
            <button type="submit">غیر فعال کردن</button>
        </form>
    </div>

{% empty %}

    <p>شما هیچ حسابی ندارید</p>

{% endfor %}