<h1>حساب ها</h1>

<a href="{% url 'accounts:create' %}"> ساخت حساب جدید </a>

<form method="Get">
    <label for="account_type">نوع حساب</label>

    <select>
        <option value="">همه</option>
        {% for value, label in account_types %}
        <option value="{{value}}">{{label}}</option>
        {% endfor %}
    </select>

    <select>
        <option value="">همه</option>
        {% for currency in currencies %}
        <option value="{{currency}}">{{currency}}</option>
        {% endfor %}
    </select>
</form>

{% for account in accounts %}

    <div>
        <h2>{{ account.name }}</h2>

        <p>
            نوع: {{ account.get_account_type_display }}
        </p>

        <p>
            ارز: {{ account.currency }}
        </p>

        <p>
            موجودی: {{ account.balance }}
        </p>

        <a href="{% url 'accounts:detail' account.slug %}">
            اطلاعات
        </a>
        
        <br />

        <a href="{% url 'accounts:edit' account.slug %}">
            ویرایش
        </a>
        
        <form method="Post" action="{% url 'accounts:delete' account.slug %}">
            {% csrf_token %}
            <button type="submit">غیر فعال کردن</button>
        </form>
    </div>

{% empty %}

    <p>شما هیچ حسابی ندارید</p>

{% endfor %}